:root {
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
}

body {
  .main {
    color: green;
  }
}

.skip-to-main {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-align: center;
  transition: top 0.3s;
  text-decoration: none;

  &:focus {
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
